<header class="header">
    <div class="header__logo">
        <a [routerLink]="['/']">
            <svg class="swapfiets">
                <use xlink:href="assets/logos/swapfiets.svg#swapfiets" fill="#00A8E0"></use>
            </svg>
        </a>
    </div>

    <h1 class="header__title">Frontend Coding Assignment</h1>

    <div class="header__logo">
        <a href="https://bikeindex.org/" target="_blank">
            <svg class="bike-index">
                <use xlink:href="assets/logos/bike-index.svg#bikeIndex" fill="#00A8E0"></use>
            </svg>
        </a>
    </div>
</header>